<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}" >
<head> 
<meta charset="UTF-8" />  
<title>登陆页</title>  
</head>  
<body>  
<div  layout:fragment="content" >
            错误信息：<h4 th:text="${msg}"></h4>  
       <form th:action="@{/login}" method="post">  
           <p>账号：<input type="text" name="username" value=""/></p>  
           <p>密码：<input type="text" name="password" value=""/></p>  
            <input type="checkbox" name="rememberMe" />记住我<br/>
           <p><input type="submit" value="登录"/></p>  
       </form>  
</div>
</body>  
</html>  