<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}" >
<head>
<meta charset="UTF-8">
<title>列表</title>
</head>
<body>
<button shiro:hasPermission="userInfo:add" type="button" class="btn  btn-primary" onclick="add()">
   <i class="fa fa-plus" aria-hidden="true"></i>添加
</button>
		  <div>
		     <ul>
		         <li th:each="user:${list}">
		             <p>ID:<span th:text="${user.uid}"></span></p>
		             <p>名字:<span th:text="${user.name}"></span></p>
		             <p>年龄:<span th:text="${user.name}"></span></p>
		             <p>地址:<span th:text="${user.name}"></span></p>
		         </li>
		     </ul> 
		   </div>
</body>
</html>